body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0,1fr));
  grid-gap: 20px;
}

header,
footer {
  padding: 10px;
  grid-column: 2 / 5;
}

header {
  text-align: center;
  border-bottom: 1px solid #999;
  grid-row: 1;
}

output {
  grid-column: 1 / 6;
  grid-row: 3;
}

footer {
  text-align: center;
  grid-row: 4;
  border-top: 1px solid #999;
}

board {
  /* background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227); */
  height: 80%;
  grid-column: 1 / 5;
  grid-row: 2;
}

controls {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #999;
  grid-row: 2;
}
