textarea {
  resize: none;
  border: 0px;
}

.metadata {
  text-align: center;
}

.editable-text {
  /* TODO: visual hint for this to be editable */
  /* font-style: italic; */
}

.placeholder {
  color: red;
}

controls button {
  margin: 10px 0 0 10px;
}
