
// @import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

body {
  max-width: 900px;
  margin: 2em auto;
}

.page {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    'header header'
    'board controls'
    'under under'
    'footer footer';
  grid-gap: 20px;

  > header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid #999;
  }

  > board {
    grid-area: board;
  }

  > controls {
    grid-area: controls;
    width: min-content;
  }

  > under {
    grid-area: under;
  }

  > footer {
    grid-area: footer;
    text-align: center;
    border-top: 1px solid #999;
    padding: 10px;
  }
}
