@import url("../../node_modules/@fortawesome/fontawesome-free/css/solid.css");

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: none; /* Hidden by default */
}

.overlay div {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;

  background-color: white;
  width: 50%;
  height: 50%;
  transform: translate(-50%,-50%);

  padding: 20px;
}

.overlay .headlineWithCommands {
  display: flex;
  flex-direction: row;
}

.overlay button {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  padding: 16px 16px;
  float: right;
}

.overlay button::after {
  margin-left: 0.3em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.overlay input {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  padding: 16px 16px;
  float: right;
}

.overlay .submit {
  background-color: #4CAF50;
}

.overlay .submit::after {
  content: "\f00c";
}

.overlay .copy::after {
  content: "\f328";
}

.overlay .save::after {
  content: "\f0c7";
}

.overlay .cancel {
  background-color: #f44336;
}

.overlay .cancel::after {
  content: "\f00d"
}

.overlay .error {
  color: #f44336;
}

.overlay div textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
}
