<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="page">
    <header><%= htmlWebpackPlugin.options.title %></header>

    <board>
      <div class="blue merida">
        <div class="cg-wrap" id="board" style="width: 600px; height: 600px;"></div>
      </div>
    </board>

    <tools>
      TODO: list moves
    </tools>

    <controls>
      <button id="undo">Undo</button>
    </controls>

    <under>
      <div class="flip-card">
        <div class="flip-card-inner">
          <textarea id="pgn" readonly=true class="flip-card-front"></textarea>
          <div class="flip-card-back">
            <form>
              <label for="event">Event</label>
              <input type="text" id="event" name="event"><br>

              <label for="site">Site</label>
              <input type="text" id="site" name="site"><br>

              <label for="white">White</label>
              <input type="text" id="name_white" name="name_white">
              <input type="text" id="rating_white" name="rating_white"><br>

              <label for="black">Black</label>
              <input type="text" id="name_black" name="name_black">
              <input type="text" id="rating_black" name="rating_black"><br>

              <label for="date">Date</label>
              <input type="date" id="date" name="date"><br>

              <label for="round">Round</label>
              <input type="text" id="round" name="round"><br>

              <label for="result">Result</label>
              <select id="result" name="result">
                <option value="white_wins">White</option>
                <option value="draw">Draw</option>
                <option value="black_wins">Black</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </under>

    <footer>
      <a href="https://github.com/JHK/pgn-editor/issues" target="_blank">
        Issues
      </a>
      /
      <a href="https://github.com/JHK/pgn-editor" target="_blank">
        Source
      </a>
    </footer>
  </div>
</body>

</html>